//point
$bp-desktop: 1200px;
$bp-hero: 1000px;
$bp-tablets: 768px;
$bp-phones: 480px;


//size
$font-size: 16px;

//color
$logo-color: #FD6141;
$logo-color2: #0F0F0F;
$header-bg: #FFD25A;
$slid-color: #F4F2ED;
$border-btn: #4F69C5;
$border: #CCCCCC;
$check: #fff;
$warning: #A0A0A0;
$square: #C4C4C4;

//text
$text-title: #000;
$text-color: #808080;
