section.contact#contact
  .container.contact__wrapper
    .contact__info
      h2.title.contact__title Форма нам тоже пригодится
      p.contact__useless Первый абзац бесполезного текста, хотя может и полезного, может в нем есть подсказки... А может и нет. Этого не знает никто. Даже тот, кто его писал. 
      p.contact__important Не забывай креативить, предлагать решения, исправлять наши ошибки, ошибки природы, вселенной, ошибки ЖКХ.
    include form
