section.hero
  .container.hero__wrapper
    h1.hero__title.title Сверстай меня полностью
    p.hero__text Здесь необходимо, чтобы наш друг немного сдвигался вправо, если курсор находится в правой половине экрана либо, соответственно, влево
    .hero__pic(style="background-image: url('images/bg.svg'), url('images/bg2.svg')")
      .hero__layer(style="background-image: url('images/calendar.svg'), url('images/clock.svg'), url('images/photo.svg')")
      img.hero__man(src="images/man.svg", alt="Мужик на велике")