<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Test
    link(rel="shortcut icon" href="favicon.ico")
  body.body
    .wrapper(style='background-image: url("images/calendar.svg"), url("images/photo.svg"), url("images/bg-bottom.svg")')
      .maincontainer
        include elements/header
        include elements/hero
        include elements/slider
        include elements/contact
    include elements/menu